@font-face {
    font-family: 'Americorps'; 
    src: url('../assets/fonts/spyagency3ital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dealerplate'; 
    src: url('../assets/fonts/dealerplate.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#login {
    z-index: 100;
    position: absolute;
}


    .progress-bar-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #progress-bar {
        width: 25%;
        margin-top: 0.5%;
        height: 2%;
    }

    label {
        color: white;
        font-size: 1.2rem;
    }

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#dijelovi {
    width: 100%;
    transition: opacity 1s ease-in-out; 
    margin: 0;
    padding: 0;
    z-index: 50;
}

#servis {
    width: 100%;
    transition: opacity 1s ease-in-out; 
    margin: 0;
    padding: 0;
    z-index: 50;
}
#login {
    transition: opacity 0.2s ease-in-out; 
}
#hud{
    transition: opacity 0.5s ease-in-out; 
}