* { box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
    margin:0; padding:0; 
}

#djelovi {
    z-index: 40;
}
body {
    background: linear-gradient(120deg, #d0e9f4, #7e9bea, #f40808, #ee8f8f);
}
