* { box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
    margin:0; padding:0; 
}

#djelovi { 
    display:flex; 
    min-height:100%; 
    background: linear-gradient(120deg, #d0e9f4, #7e9bea, #f40808, #ee8f8f);
    color: #1e293b;
    position: relative;
    animation: gradientFlow 18s ease infinite; 
    z-index: 40;
}
body {
    background: linear-gradient(120deg, #d0e9f4, #7e9bea, #f40808, #ee8f8f);
}
/*Sidebar uredivanje*/
#sidebar { 
    width: 250px; 
    background: rgba(30, 41, 59, 0.85);
    color:#fff; 
    padding:20px; 
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

#sidebar h4 { 
    margin-bottom:10px; 
    font-weight:600; 
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #f1f5f9;
}

/*Sidebar info, kontakt i ostalo*/
.sidebar-info {
  background: rgba(255, 255, 255, 0.08); /*slicno al transparentnije*/
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
}
.sidebar-info h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #a5b4fc;
  margin-bottom: 6px;
}
.sidebar-info p {
  font-size: 14px;
  color: #e2e8f0;
  line-height: 1.4;
}

.sidebar-hours,
.sidebar-contact {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  margin-top: 100px;
  color: #e2e8f0;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 12px;
}

.sidebar-hours h4,
.sidebar-contact h4{
  color: #a5b4fc;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.sidebar-hours ul {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.select { 
    width:100%; 
    padding:10px 12px;
    border-radius:8px; 
    border:1px solid #475569; 
    font-size:15px; 
    color: #1e293b;
    font-style:oblique;
    background-color: #f1f5f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/*Glavni dio (odabrana kategorija...)*/
.main-content { 
    flex:1; 
    padding:30px; 
    text-align:center; 
}
.baner-txt { 
    font-size:28px; 
    font-weight: 600; 
    color: #1e293b; 
    margin-bottom:15px;
    text-transform: uppercase;
}
.present_pict { 
    width:100%; 
    height:250px; 
    object-fit:cover; 
    border-radius:12px; 
    margin-bottom:15px; 
}
#selected { 
    margin-bottom:25px; 
    font-weight:500; 
    color:black; 
    font-size: 20px;
}

/*Produkti*/
#product-container { 
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); 
    gap:20px; 
    justify-items:center; 
}
.product { 
    background:#fff; 
    border-radius:12px; 
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    overflow:hidden; 
    transition:0.2s; 
    position:relative; 
    width:220px; 
}
.product:hover { 
    transform:translateY(-5px); 
    box-shadow:0 4px 10px rgba(0,0,0,0.15); 
}

.image { 
    position:relative; 
    width:100%; 
    height:140px; 
}
.image img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
}
.price-tag { 
    position:absolute; 
    bottom:5px; 
    right:5px; 
    background:#38bdf8; 
    color:#fff; 
    padding:2px 6px; 
    border-radius:6px; 
    font-size:18px; 
}

.product h3 { 
    font-size:16px; 
    margin:10px 0 0; 
}
.product h4 { 
    font-size:14px; 
    color:#666; 
    margin-bottom:10px; 
}
.hide { 
    display:none; 
}

.description {
  font-size: 0.9rem;
  color: #475569;
  margin-top: 5px;
  line-height: 1.3;
}


@media(max-width:600px){ body{flex-direction:column;} #sidebar{width:100%;} }